<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">{{getLabel("pageTitle")}}</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->


    <div class="row">
        <div class="col-sm-12">
            <div>
                <div class="card">
                    <div class="card-body">
                    
                    </div> <!-- end card-body -->
                </div>

            </div>
        </div><!-- end col -->
    </div><!-- end row -->
    <!-- end row -->

</div>