  <!-- ========== Left Sidebar Start ========== -->
  <div class="leftside-menu leftside-menu-detached">

    <div class="leftbar-user">
        <a href="javascript: void(0);">
            <img height="42" style="margin-bottom: 10px;" *ngIf="generalService.currentUser!=null" (error)="generalService.setDefaultAvatar($event)" [src]="generalService.imageLinkSetup(generalService.currentUser.hinhDaiDien)" alt="user-image" height="42" class="rounded-circle shadow-sm"><br>
            <span class="account-user-name" *ngIf="generalService.currentUser==null"></span>
            <span style="font-weight: bold " class="account-user-name" *ngIf="generalService.currentUser!=null">{{generalService.currentUser.fullName}}</span>
       </a>
    </div>

    <!--- Sidemenu -->
    <ul class="side-nav">
        <!-- <li class="side-nav-item">
            <a data-bs-toggle="collapse" href="#sidebarWeeklySchedule" aria-expanded="false" aria-controls="sidebarEmail" class="side-nav-link">
                <i class="uil-calendar-alt"></i>
                <span> Lịch Tuần </span>
                <span class="menu-arrow"></span>
            </a>
            <div class="collapse" id="sidebarWeeklySchedule">
                <ul class="side-nav-second-level">
                    <li>
                        <a >Đã Duyệt</a>
                    </li>
                    <li>
                        <a >Chưa Duyệt</a>
                    </li>
                    <li>
                        <a >Đăng Ký</a>
                    </li>
                    <li>
                        <a >Lịch Tuần Mẫu</a>
                    </li>
                    <li>
                        <a >Địa Điểm</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="side-nav-item">
            <a data-bs-toggle="collapse" href="#sidebarProject" aria-expanded="false" aria-controls="sidebarEmail" class="side-nav-link">
                <i class="uil-cube"></i>
                <span> Lịch Tuần </span>
                <span class="menu-arrow"></span>
            </a>
            <div class="collapse" id="sidebarProject">
                <ul class="side-nav-second-level">
                    <li>
                        <a >Đã Duyệt</a>
                    </li>
                    <li>
                        <a >Chưa Duyệt</a>
                    </li>
                    <li>
                        <a >Đăng Ký</a>
                    </li>
                    <li>
                        <a >Lịch Tuần Mẫu</a>
                    </li>
                    <li>
                        <a >Địa Điểm</a>
                    </li>
                </ul>
            </div>
        </li> -->
        <li class="side-nav-item">
            <a data-bs-toggle="collapse" href="#sidebarWorks" aria-expanded="false" aria-controls="sidebarEmail" class="side-nav-link">
                <i class="uil-calendar-alt"></i>
                <span> Công Việc </span>
                <span class="menu-arrow"></span>
            </a>
            <div class="collapse" id="sidebarWorks">
                <ul class="side-nav-second-level">
                    <li>
                        <a (click)="routeNavigator('/tasks/task-list')">Danh Sách Công Việc</a>
                    </li>
                    <!-- <li>
                        <a >Chưa Duyệt</a>
                    </li>
                    <li>
                        <a >Đăng Ký</a>
                    </li>
                    <li>
                        <a >Lịch Tuần Mẫu</a>
                    </li>
                    <li>
                        <a >Địa Điểm</a>
                    </li> -->
                </ul>
            </div>
        </li>     
    </ul>

    <div style="height:30px;width:100%">

    </div>
    <!-- End Sidebar -->
    <div class="clearfix"></div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->