<div class="container-fluid">
    <ngx-loading [show]="spinnerLoading"
        [config]="{ primaryColour: 'whitesmoke', backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>
    <!-- start page title -->
    <div class="row">
        <div class="col-1 my-auto">
            <img (click)="goBack()" style="cursor: pointer;opacity:0.5; width:30px;height:auto; margin:auto"
                src="assets/imgs/left.png" />
        </div>
        <div class="col-11">
            <div class="page-title-box">
                <h4 class="page-title">Thêm Mới Công Việc</h4>
            </div>
        </div>
    </div>
    <aw-wizard>
        <aw-wizard-step stepTitle="1. Nhập thông tin lịch">
            <div class="container">
                <div class="row">
                    <div class="mb-3">
                        <label for="simpleinput" class="form-label">Chọn lịch mẫu:</label>
                        <select class="form-select" id="example-select">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="mb-3 col-lg-6 col-sm-12 row">
                        <label for="simpleinput" class="form-label ipt">Bắt đầu:</label>
                        <div class="col-lg-6 col-sm-12">
                            <input class="form-control" id="example-date" type="date" name="date">
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <input class="form-control col" id="example-time" type="time" name="time">
                        </div>
                    </div>
                    <div class="mb-3 col-lg-6 col-sm-12 row">
                        <label for="simpleinput" class="form-label ipt">Kết thúc:</label>
                        <div class="col-lg-6 col-sm-12">
                            <input class="form-control" id="example-date" type="date" name="date">
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <input class="form-control col" id="example-time" type="time" name="time">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="example-textarea" class="form-label ipt">Nội dung:</label>
                        <textarea class="form-control" id="example-textarea" rows="5"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="example-textarea" class="form-label ipt">Chủ trì:</label>
                        <input type="text" id="simpleinput" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="example-textarea" class="form-label ipt">Thành phần:</label>
                        <input type="text" id="simpleinput" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="example-textarea" class="form-label ipt">Chuẩn bị:</label>
                        <input type="text" id="simpleinput" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="example-textarea" class="form-label">Địa điểm:</label>
                        <select class="form-select" id="example-select">
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="example-textarea" class="form-label">Mời:</label>
                        <input type="text" id="simpleinput" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="example-textarea" class="form-label">Ghi chú:</label>
                        <textarea class="form-control" id="example-textarea" rows="5"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="example-fileinput" class="form-label">Thêm file:</label>
                        <input type="file" multiple (change)="handleFileInput($event.target.files)" id="fileList"
                            class="form-control">
                        <ol class="list-group list-group-numbered">
                            <li *ngFor="let file of newEventData.file; index as i" class="list-group-item">
                                {{file.name}}<span (click)="removeFile(i)" style="float: right; font-weight:
                                bold; cursor: pointer; color: #fa6767;">X</span></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="btn_list">
                <button type="button" awNextStep class="btn btn-primary">Next Step</button>
            </div>
        </aw-wizard-step>
        <aw-wizard-step stepTitle="2. Danh sách liên quan" awOptionalStep>
            <div class="card">
                <div class="card-body">
                    <div style="margin: 0 10px 30px 30px;">
                        <label class="form-label" for="groupOfAssignee">
                            Lựa chọn danh sách từ: </label>
                        <select style="width: 50%;" [(ngModel)]="groupKeyChosenInStep2" class="form-select"
                            id="groupOfAssignee">
                            <option value="all" selected>Tất cả nhân viên</option>
                            <option [ngValue]="groupKey" *ngFor="let groupKey of generalService.allUserGroupsKey">
                                {{groupKey}}</option>
                        </select>
                    </div>

                    <app-dual-list (updateLists)="dualListUpdateForAssignee($event)" [leftList]="allUserInStep2List"
                        [rightList]="chosenAssigneelList"></app-dual-list>
                    <div style="margin: 0 10px 30px 30px;">
                        <label class="form-label" for="majorAssignee"><span style="color: tomato;">(*)</span>
                            Người Xử lý Chính: </label>
                        <select style="width: 50%;" [(ngModel)]="majorAssignee" class="form-select" id="majorAssignee">
                            <option selected>Chọn...</option>
                            <option [ngValue]="assignee" *ngFor="let assignee of chosenAssigneelList">
                                {{assignee.fullName}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="btn_list">
                <button type="button" class="btn btn-warning" awPreviousStep>Previous Step</button>
                <button type="button" class="btn btn-success">Finish</button>
            </div>
        </aw-wizard-step>
    </aw-wizard>
</div>