<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-1 my-auto">
            <img (click)="goBack()" style="cursor: pointer;opacity:0.5; width:30px;height:auto; margin:auto"
                src="assets/imgs/left.png" />
        </div>
        <div class="col-11">
            <div class="page-title-box">
                <h4 class="page-title">Thêm Mới Công Việc</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <aw-wizard navBarLayout="small">
                <aw-wizard-step stepTitle="1. Thông Tin Công Việc">
                    <div style="height:30px"></div>

                    <div class="card">
                        <div class="card-body">
                            <div class="mb-3">
                                <label class="form-label" for="validationCustom01">Dự Án: </label>
                                <select [(ngModel)]="project" class="form-select" id="project-select">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="validationCustom02">Khách Hàng: </label>
                                <select [(ngModel)]="customer" class="form-select" id="customer-select">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="validationCustom02">Nhóm Công Việc:</label>

                                <select [(ngModel)]="taskGroup" class="form-select" id="taskGroup-select">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Công Việc Mẫu:</label>

                                <select [(ngModel)]="sampleTask" class="form-select" id="sampleTask-select">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Tên Công Việc: <span class="requiredField">(*)</span></label>
                                <!-- <input [class.is-invalid] = "taskName === '' && step1BtnClicked"
                                       [class.is-valid] = "taskName != '' && step1BtnClicked"
                                       [(ngModel)]="taskName" class="form-control" runat="server" name="taskName"
                                    type="text" id="taskName" placeholder="">
                                <div class="invalid-feedback">
                                    Tên công việc không bỏ trống
                                </div> -->
                                <input [(ngModel)]="taskName" class="form-control" runat="server" name="taskName"
                                    type="text" id="taskName" placeholder="">
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Nội Dung: <span class="requiredField">(*)</span></label>
                                <angular-editor [config]="editorConfig" [(ngModel)]="htmlContent">
                                </angular-editor>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Ngày Bắt Đầu: <span class="requiredField">(*)</span></label>

                                <div class="input-group">
                                    <!-- input box -->
                                    <input name="startDate" class="form-control" placeholder="Ngày Bắt Đầu:"
                                        angular-mydatepicker #startDateID="angular-mydatepicker" [(ngModel)]="startDate"
                                        [options]="myDatePickerOptions" (dateChanged)="onStartDateChanged($event)" />

                                    <!-- clear date button -->
                                    <div name="title" class="input-group-append">
                                        <button class="btn btn-danger" *ngIf="startDate"
                                            (click)="startDateID.clearDate()">
                                            <i class="uil-multiply"></i>
                                        </button>
                                    </div>

                                    <!-- toggle calendar button -->
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" (click)="startDateID.toggleCalendar()">
                                            <i class="uil-calender"></i>
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Ngày Kết Thúc: <span class="requiredField">(*)</span></label>

                                <div class="input-group">
                                    <!-- input box -->
                                    <input name="endDate" class="form-control" placeholder="Ngày Kết Thúc:"
                                        angular-mydatepicker #endDateID="angular-mydatepicker" [(ngModel)]="endDate"
                                        [options]="myDatePickerOptions" (dateChanged)="onEndDateChanged($event)" />

                                    <!-- clear date button -->
                                    <div class="input-group-append">
                                        <button class="btn btn-danger" *ngIf="endDate" (click)="endDateID.clearDate()">
                                            <i class="uil-multiply"></i>
                                        </button>
                                    </div>

                                    <!-- toggle calendar button -->
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" (click)="endDateID.toggleCalendar()">
                                            <i class="uil-calender"></i>
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class="form-check mb-3">
                                <input [(ngModel)]="unknownTimeCheck" type="checkbox" class="form-check-input"
                                    id="unknownTimeCheck">
                                <label class="form-check-label" for="unknownTimeCheck">Thời gian không xác định</label>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Thêm File:</label>
                                <input type="file" class="form-control">
                            </div>
                        </div>
                    </div>
                    <button (click)="wizardNavbtnClicked(1,'next')" class="btn btn-primary">Tiếp Tục</button>
                </aw-wizard-step>
                <aw-wizard-step  stepTitle="2. Chọn Người Xử Lý">
                    <div style="height:30px"></div>
                    <div class="card">
                        <div class="card-body">
                            <app-dual-list
                                (updateLists)="dualListUpdateForAssignee($event)"
                                [leftList]="allUserList" [rightList]="chosenAssigneelList"></app-dual-list>
                            <div style="height:30px"></div>

                            <div style="margin: 0 10px 30px 30px;">
                                <label class="form-label" for="majorAssignee"><span style="color: tomato;">(*)</span>
                                    Người Xử lý Chính: </label>
                                <select style="width: 50%;" [(ngModel)]="majorAssignee" class="form-select" id="majorAssignee">
                                    <option selected>Chọn...</option>
                                    <option [ngValue]="assignee" *ngFor="let assignee of chosenAssigneelList">{{assignee.fullName}}</option>
                                </select>
                            </div>

                            <button (click)="wizardNavbtnClicked(2,'previous')" style="margin: 0 10px 0 30px;" class="btn btn-warning">Quay
                                Lại</button>
                            <button (click)="wizardNavbtnClicked(2,'next')" class="btn btn-primary">Tiếp Tục</button>
                        </div>
                    </div>


                </aw-wizard-step>
                <aw-wizard-step stepTitle="3. Chọn Người Xem">
                    <div style="height:30px"></div>
                    <div class="card">
                        <div class="card-body">
                            <!-- <app-dual-list (updateLists)="leftList=$event.leftList; rightList=$event.rightList"
                                [leftList]="leftList" [rightList]="rightList"></app-dual-list>
                            <div style="height:30px"></div> -->

                            <div style="margin: 0 20px 20px 30px;">
                                <div class="form-check form-check-inline form-checkbox-danger">
                                    <input type="checkbox" class="form-check-input" id="urgentCheck">
                                    <label class="form-check-label" for="urgentCheck" style="color:tomato">Khẩn</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input" id="watchCheck">
                                    <label class="form-check-label" for="watchCheck">Theo Dõi</label>
                                </div>
                            </div>

                            <button style="margin: 0 10px 0 30px;" class="btn btn-warning" awPreviousStep>Quay
                                Lại</button>
                            <button class="btn btn-primary"><i class="uil-book-medical"></i> Tạo Công Việc</button>
                        </div>
                    </div>


                </aw-wizard-step>
            </aw-wizard>
        </div><!-- end col -->
    </div><!-- end row -->
    <!-- end row -->
    <div style="height:20px"></div>

</div>