<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-1 my-auto">
            <img (click)="goBack()" style="cursor: pointer;opacity:0.5; width:30px;height:auto; margin:auto"
                src="assets/imgs/left.png" />
        </div>
        <div class="col-11">
            <div class="page-title-box">                
                <h4 class="page-title">Thêm Mới Công Việc</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent"></angular-editor>


</div>